.card {
  padding: 0.75rem;
  border: 1px solid #efefef;
  text-align: center;
}

/* 
  ">"组合器选择前一个元素的直接子代的节点。
  https://developer.mozilla.org/zh-CN/docs/Web/CSS/Child_combinator
*/
.card>a>img {
  width: 100px;
  margin-bottom: 0.75rem;
  border-radius: 100px;
}

.card-text {
  font-size: 85%;
}